/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._header_voqst_123 {
  display: flex;
  align-items: center;
  padding: var(--spacing--2xs) var(--spacing--3xs);
  margin-bottom: var(--spacing--2xs);
  justify-content: space-between;
  gap: var(--spacing--4xs);
}
._header_voqst_123 img {
  position: relative;
  left: 1px;
  height: 20px;
  margin-right: auto;
}
._header_voqst_123._collapsed_voqst_137 {
  flex-direction: column;
  border-bottom: var(--border);
}
._logo_voqst_142 {
  margin-right: auto;
}
._beta_voqst_146 {
  margin-top: var(--spacing--3xs);
  margin-left: var(--spacing--3xs);
}
._readOnlyEnvironmentIcon_voqst_151 {
  display: inline-block;
  color: white;
  background-color: var(--color--warning);
  align-self: center;
  padding: 2px;
  border-radius: var(--radius--sm);
  margin: 7px 12px 0 5px;
}
._iconButton_voqst_161 {
  margin-left: auto;
  margin-right: 5px;
}
._upgradeButton_voqst_166 {
  margin-left: auto;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._container_1yloq_123 {
  display: flex;
  flex-direction: column;
  background-color: var(--color--background--light-2);
  border: var(--border);
  margin: var(--spacing--2xs);
  border-radius: var(--radius);
}
._textAndCloseButton_1yloq_132 {
  display: flex;
  margin-top: var(--spacing--xs);
  margin-left: var(--spacing--sm);
  margin-right: var(--spacing--2xs);
}
._text_1yloq_132 {
  flex: 1;
  font-size: var(--font-size--3xs);
  line-height: var(--line-height--sm);
}
._closeButton_1yloq_145 {
  flex: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--spacing--2xs);
  border: none;
  color: var(--color--text--tint-1);
  background-color: transparent;
  cursor: pointer;
}
._becomeCreatorButton_1yloq_157 {
  margin: var(--spacing--sm);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._bottomMenu_17gn9_123 {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
._bottomMenu_17gn9_123._collapsed_17gn9_128 {
  border-top: var(--border);
}
._bottomMenuItems_17gn9_132 {
  padding: var(--spacing--3xs);
}
._popover_17gn9_136 {
  padding: var(--spacing--4xs);
  min-width: 260px;
  border-radius: var(--radius);
  background-color: var(--menu--color--background, var(--color--background--light-2));
}
._popoverTitle_17gn9_143 {
  display: block;
  margin-bottom: var(--spacing--3xs);
  padding-left: var(--spacing--3xs);
  margin-top: var(--spacing--xs);
}
._divider_17gn9_150 {
  display: block;
  width: 100%;
  padding-top: var(--spacing--3xs);
  border-bottom: var(--border);
  margin-bottom: var(--spacing--3xs);
  background-color: var(--color--border);
}
@media screen and (max-height: 470px) {
#help {
    display: none;
}
}