/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._searchContainer_1mhzr_123 {
  display: flex;
  height: 40px;
  padding: 0 var(--spacing--xs);
  align-items: center;
  margin: var(--search--margin, var(--spacing--sm));
  filter: drop-shadow(0 2px 5px rgba(46, 46, 50, 0.04));
  border: 1px solid var(--color--foreground);
  background-color: var(--color--background--light-3);
  color: var(--color--text--tint-1);
  border-radius: 4px;
}
._searchContainer_1mhzr_123:focus-within {
  border-color: var(--color--secondary);
}
._prefix_1mhzr_139 {
  text-align: center;
  font-size: var(--font-size--md);
  margin-right: var(--spacing--xs);
}
._prefix_1mhzr_139._active_1mhzr_144 {
  color: var(--color--primary) !important;
}
._text_1mhzr_148 {
  flex-grow: 1;
}
._text_1mhzr_148 input {
  width: 100%;
  border: none;
  outline: none;
  font-size: var(--font-size--sm);
  -webkit-appearance: none;
          appearance: none;
  background-color: var(--color--background--light-3);
  color: var(--color--text--shade-1);
}
._text_1mhzr_148 input::placeholder, ._text_1mhzr_148 input::-webkit-input-placeholder {
  color: var(--color--text--tint-1);
}
._suffix_1mhzr_164 {
  min-width: 20px;
  text-align: right;
  display: inline-block;
}
._clear_1mhzr_170 {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}
._clear_1mhzr_170 svg path {
  fill: var(--color--text--tint-1);
}
._clear_1mhzr_170:hover svg path {
  fill: var(--color--text);
}
._clickable_1mhzr_183 {
  cursor: pointer;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._container_169ak_123 {
  width: 100%;
  padding: var(--spacing--sm);
  padding-top: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
}
._nodeIcon_169ak_132 {
  --node--icon--size: 36px;
  margin-right: var(--spacing--sm);
}
._description_169ak_137 {
  margin: var(--spacing--md) 0;
}
._separator_169ak_141 {
  height: var(--border-width);
  background: var(--color--foreground);
  margin-bottom: var(--spacing--md);
}
._info_169ak_147 {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: var(--spacing--md);
  margin-bottom: var(--spacing--md);
  flex-wrap: wrap;
}
._info_169ak_147 div {
  display: flex;
  align-items: center;
  gap: var(--spacing--4xs);
}
._tooltipIcon_169ak_162 {
  color: var(--color--text--tint-1);
  font-size: var(--font-size--2xs);
  width: 12px;
}
._contactOwnerHint_169ak_168 {
  display: flex;
  align-items: center;
  gap: var(--spacing--sm);
  padding: var(--spacing--xs);
  border: var(--border-width) solid var(--color--foreground);
  border-radius: 0.25em;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._container_12w99_123 {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
._containerPaddingBottom_12w99_129 {
  padding-bottom: var(--spacing--3xl);
}
._communityNodeFooter_12w99_133 {
  margin-top: auto;
}
._resetSearch_12w99_137 {
  cursor: pointer;
  line-height: var(--line-height--md);
  font-weight: var(--font-weight--regular);
  font-size: var(--font-size--2xs);
  padding: var(--spacing--2xs) var(--spacing--sm) 0;
  color: var(--color--text);
}
._resetSearch_12w99_137 i {
  font-weight: var(--font-weight--bold);
  font-style: normal;
  text-decoration: underline;
}
._actionsEmpty_12w99_151 {
  padding: var(--spacing--2xs) var(--spacing--xs) var(--spacing--sm);
  font-weight: var(--font-weight--regular);
}
._actionsEmpty_12w99_151 strong {
  font-weight: var(--font-weight--bold);
}
._apiHint_12w99_159 {
  padding: 0 var(--spacing--sm) var(--spacing--xl);
  font-size: var(--font-size--2xs);
  color: var(--color--text);
  line-height: var(--line-height--md);
  z-index: 1;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._noResults_1w8hr_123 {
  background-color: var(--color--background--light-3);
  text-align: center;
  height: 100%;
  border-left: 1px solid var(--color--foreground);
  flex-direction: column;
  font-weight: var(--font-weight--regular);
  display: flex;
  align-items: center;
  align-content: center;
  padding: 0 var(--spacing--2xl);
}
._title_1w8hr_136 {
  font-size: var(--font-size--md);
  line-height: var(--line-height--md);
  margin-top: var(--spacing--xs);
}
._title_1w8hr_136 div {
  margin-bottom: var(--spacing--sm);
}
._action_1w8hr_145 p,
._request_1w8hr_146 p {
  font-size: var(--font-size--sm);
  line-height: var(--line-height--xl);
}
._request_1w8hr_146 {
  position: fixed;
  bottom: var(--spacing--md);
  display: none;
}
@media (min-height: 550px) {
._request_1w8hr_146 {
    display: block;
}
}
._icon_1w8hr_162 {
  margin-top: var(--spacing--2xl);
  min-height: 67px;
  opacity: 0.6;
}
._external_1w8hr_168 {
  font-size: var(--font-size--2xs);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._items_bf97l_123 {
  margin-bottom: var(--spacing--sm);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._container_1ibv8_123 {
  width: 100%;
  padding: var(--spacing--sm);
  display: flex;
  flex-direction: column;
  padding-bottom: var(--spacing--xs);
}
._header_1ibv8_131 {
  display: flex;
  gap: var(--spacing--2xs);
  align-items: center;
  justify-content: space-between;
}
._title_1ibv8_138 {
  display: flex;
  align-items: center;
  color: var(--color--text);
  font-size: var(--font-size--xl);
  font-weight: var(--font-weight--bold);
}
._nodeIcon_1ibv8_146 {
  --node--icon--size: 36px;
  margin-right: var(--spacing--sm);
}
._installedIcon_1ibv8_151 {
  margin-right: var(--spacing--3xs);
  color: var(--color--text);
  font-size: var(--font-size--2xs);
}
._officialIcon_1ibv8_157 {
  display: inline-flex;
  flex-shrink: 0;
  margin-left: var(--spacing--4xs);
  color: var(--color--text);
  width: 14px;
}
._installed_1ibv8_151 {
  display: flex;
  align-items: center;
  margin-right: var(--spacing--xs);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._container_1ms6i_123 {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-bottom: var(--spacing--5xs);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
.panel-slide-in-leave-active,
.panel-slide-in-enter-active,
.panel-slide-out-leave-active,
.panel-slide-out-enter-active {
  transition: transform 200ms ease;
  position: absolute;
  left: 0;
  right: 0;
}
.panel-slide-out-enter-from,
.panel-slide-in-leave-to {
  transform: translateX(0);
  z-index: -1;
}
.panel-slide-out-leave-to,
.panel-slide-in-enter-from {
  transform: translateX(100%);
  z-index: 1;
}
._info_aetc2_145 {
  margin: var(--spacing--2xs) var(--spacing--sm);
}
._backButton_aetc2_149 {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: var(--spacing--2xs) var(--spacing--xs) 0 0;
}
._backButtonIcon_aetc2_156 {
  color: var(--color--text--tint-1);
  padding: 0;
}
._nodeIcon_aetc2_161 {
  --node--icon--size: 20px;
  --node-creator--icon--color: var(--node--icon--color--neutral);
  margin-right: var(--spacing--sm);
}
._renderedItems_aetc2_167 {
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  scrollbar-width: none; /* Firefox 64 */
  padding-bottom: var(--spacing--xl);
}
._renderedItems_aetc2_167::-webkit-scrollbar {
  display: none;
}
._searchBar_aetc2_179 {
  flex-shrink: 0;
}
._nodesListPanel_aetc2_183 {
  background: var(--color--background--light-3);
  height: 100%;
  background-color: var(--color--background--light-3);
  --node--icon--badge--color--background: var(--color--background--light-3);
  width: var(--node-creator--width);
  display: flex;
  flex-direction: column;
}
._nodesListPanel_aetc2_183:before {
  box-sizing: border-box;
  content: "";
  border-left: 1px solid var(--color--foreground);
  width: 1px;
  position: absolute;
  height: 100%;
}
._footer_aetc2_201 {
  font-size: var(--font-size--2xs);
  color: var(--color--text);
  margin: 0 var(--spacing--xs) 0;
  padding: var(--spacing--4xs) 0;
  line-height: var(--line-height--md);
  border-top: 1px solid var(--color--foreground);
  z-index: 1;
  margin-top: -1px;
}
._top_aetc2_212 {
  display: flex;
  align-items: center;
}
._header_aetc2_217 {
  font-size: var(--font-size--lg);
  font-weight: var(--font-weight--bold);
  line-height: var(--line-height--sm);
  padding: var(--spacing--sm) var(--spacing--sm);
}
._header_aetc2_217._hasBg_aetc2_223 {
  border-bottom: var(--color--foreground) solid 1px;
  background-color: var(--color--background);
}
._title_aetc2_228 {
  line-height: 24px;
  font-weight: var(--font-weight--bold);
  font-size: var(--font-size--lg);
  margin: 0;
}
._hasBg_aetc2_223 ._title_aetc2_228 {
  font-size: var(--font-size--sm-m);
  line-height: 22px;
}
._subtitle_aetc2_239 {
  margin-top: var(--spacing--4xs);
  font-size: var(--font-size--sm);
  line-height: 19px;
  color: var(--color--text);
  font-weight: var(--font-weight--regular);
}
._offsetSubtitle_aetc2_247 {
  margin-left: calc(var(--spacing--xl) + var(--spacing--4xs));
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
.nodes-list-panel-ai_chain .nodes-list-panel-header .n8n-node-icon svg {
  /* stylelint-disable-next-line @n8n/css-var-naming */
  color: var(--node-type-ai_chain-color);
}
.nodes-list-panel-ai_document .nodes-list-panel-header .n8n-node-icon svg {
  /* stylelint-disable-next-line @n8n/css-var-naming */
  color: var(--node-type-ai_document-color);
}
.nodes-list-panel-ai_embedding .nodes-list-panel-header .n8n-node-icon svg {
  /* stylelint-disable-next-line @n8n/css-var-naming */
  color: var(--node-type-ai_embedding-color);
}
.nodes-list-panel-ai_languageModel .nodes-list-panel-header .n8n-node-icon svg {
  /* stylelint-disable-next-line @n8n/css-var-naming */
  color: var(--node-type-ai_languageModel-color);
}
.nodes-list-panel-ai_memory .nodes-list-panel-header .n8n-node-icon svg {
  /* stylelint-disable-next-line @n8n/css-var-naming */
  color: var(--node-type-ai_memory-color);
}
.nodes-list-panel-ai_outputParser .nodes-list-panel-header .n8n-node-icon svg {
  /* stylelint-disable-next-line @n8n/css-var-naming */
  color: var(--node-type-ai_outputParser-color);
}
.nodes-list-panel-ai_tool .nodes-list-panel-header .n8n-node-icon svg {
  /* stylelint-disable-next-line @n8n/css-var-naming */
  color: var(--node-type-ai_tool-color);
}
.nodes-list-panel-ai_retriever .nodes-list-panel-header .n8n-node-icon svg {
  /* stylelint-disable-next-line @n8n/css-var-naming */
  color: var(--node-type-ai_retriever-color);
}
.nodes-list-panel-ai_textSplitter .nodes-list-panel-header .n8n-node-icon svg {
  /* stylelint-disable-next-line @n8n/css-var-naming */
  color: var(--node-type-ai_textSplitter-color);
}
.nodes-list-panel-ai_vectorRetriever .nodes-list-panel-header .n8n-node-icon svg {
  /* stylelint-disable-next-line @n8n/css-var-naming */
  color: var(--node-type-ai_vectorRetriever-color);
}
.nodes-list-panel-ai_vectorStore .nodes-list-panel-header .n8n-node-icon svg {
  /* stylelint-disable-next-line @n8n/css-var-naming */
  color: var(--node-type-ai_vectorStore-color);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
strong {
  font-weight: var(--font-weight--bold);
}
._nodeCreator_1htj5_127 {
  --node-creator--width: 385px;
  --node-creator--icon--color: var(--node--icon--color--neutral);
  position: fixed;
  top: calc(var(--header--height) * 1px);
  bottom: 0;
  right: 0;
  z-index: var(--node-creator--z);
  width: var(--node-creator--width);
  color: var(--color--text--shade-1);
}
._nodeCreatorScrim_1htj5_139 {
  position: fixed;
  top: calc(var(--header--height) * 1px);
  right: 0;
  bottom: 0;
  left: 42px;
  opacity: 0;
  z-index: 1;
  background: var(--dialog--overlay--color--background);
  pointer-events: none;
  transition: opacity 200ms ease-in-out;
}
._nodeCreatorScrim_1htj5_139._active_1htj5_151 {
  opacity: 0.7;
}
._close_1htj5_155 {
  position: absolute;
  z-index: calc(var(--node-creator--z) + 1);
  top: var(--spacing--xs);
  right: var(--spacing--xs);
  background: transparent;
  border: 0;
  display: none;
}
@media screen and (max-width: 427px) {
._nodeCreator_1htj5_127 {
    --node-creator--width: calc(100vw - 42px);
}
._close_1htj5_155 {
    display: inline-flex;
}
}