/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._container_kzol1_123 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-width) var(--border-style) var(--color--foreground--tint-1);
  border-radius: var(--radius);
}
._container_kzol1_123._round_kzol1_130 {
  border-radius: 50%;
}
._container_kzol1_123._borderless_kzol1_133 {
  border: none;
}
._mini_kzol1_137 {
  width: var(--spacing--xs);
  height: var(--spacing--xs);
}
._mini_kzol1_137 ._icon_kzol1_141 {
  font-size: var(--font-size--2xs);
}
._mini_kzol1_137 ._emoji_kzol1_144 {
  font-size: var(--font-size--3xs);
}
._small_kzol1_148 {
  min-width: var(--spacing--lg);
  height: var(--spacing--lg);
}
._small_kzol1_148 ._emoji_kzol1_144 {
  font-size: var(--font-size--2xs);
}
._medium_kzol1_156 {
  min-width: var(--spacing--xl);
  height: var(--spacing--xl);
}
._medium_kzol1_156 ._emoji_kzol1_144 {
  font-size: var(--font-size--xs);
}
._large_kzol1_164 {
  min-width: 40px;
  height: 40px;
}
._large_kzol1_164 ._emoji_kzol1_144 {
  font-size: var(--font-size--sm);
}