/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._filter-button_1rhfu_123 {
  height: 30px;
  align-items: center;
}
._filter-button_1rhfu_123._no-label_1rhfu_127 {
  width: 30px;
}
._filter-button_1rhfu_123._no-label_1rhfu_127 span + span {
  margin: 0;
}
._filter-button_1rhfu_123 ._filter-button-count_1rhfu_133 {
  margin-right: var(--spacing--4xs);
}
@media screen and (max-width: 767px) {
._filter-button_1rhfu_123 ._filter-button-count_1rhfu_133 {
    margin-right: 0;
}
}
@media screen and (max-width: 480px) {
._filter-button_1rhfu_123 ._filter-button-text_1rhfu_142 {
    text-indent: -10000px;
}
._filter-button_1rhfu_123 span + span {
    margin: 0;
}
}
._filters-dropdown_1rhfu_150 {
  width: 280px;
}
._filters-dropdown-footer_1rhfu_154 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
._popover-content_1rhfu_160 {
  padding: var(--spacing--sm);
}