/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._wrapper_hn9dc_123 {
  display: grid;
  height: 100%;
}
._overflow_hn9dc_128 ._list_hn9dc_128 ._body_hn9dc_128 {
  overflow: auto;
}
._list_hn9dc_128 {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}
._list_hn9dc_128 ._body_hn9dc_128 {
  position: relative;
  height: 100%;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._filters-row_lkzqj_123 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: var(--spacing--2xs);
}
._filters_lkzqj_123 {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr max-content max-content max-content;
  gap: var(--spacing--4xs);
  align-items: center;
  justify-content: end;
  width: 100%;
}
._filters_lkzqj_123 ._sort-and-filter_lkzqj_141 {
  display: flex;
  gap: var(--spacing--4xs);
  align-items: center;
}
@media screen and (max-width: 767px) {
._filters_lkzqj_123 {
    grid-auto-flow: row;
    grid-auto-columns: unset;
    grid-template-columns: 1fr;
}
}
._search_lkzqj_154 {
  max-width: 196px;
  justify-self: end;
}
._search_lkzqj_154 input {
  height: 30px;
}
@media screen and (max-width: 991px) {
._search_lkzqj_154 {
    max-width: 100%;
}
}
._listWrapper_lkzqj_167 {
  position: absolute;
  height: 100%;
  width: 100%;
}
._paginatedListWrapper_lkzqj_173 {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  gap: var(--spacing--md);
}
._listItems_lkzqj_181 {
  overflow-y: auto;
}
._listPagination_lkzqj_185 {
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--spacing--lg);
}
._listPagination_lkzqj_185 .el-pagination__sizes {
  height: 100%;
  position: relative;
  top: -1px;
}
._listPagination_lkzqj_185 .el-pagination__sizes input {
  height: 100%;
  min-height: 28px;
}
._listPagination_lkzqj_185 .el-pagination__sizes .el-input__suffix {
  width: var(--spacing--md);
}
._sort-and-filter_lkzqj_141 {
  white-space: nowrap;
}
@media screen and (max-width: 991px) {
._sort-and-filter_lkzqj_141 {
    width: 100%;
}
}
._datatable_lkzqj_212 {
  padding-bottom: var(--spacing--sm);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
.resource-list-loading[data-v-e45b274e] {
  position: relative;
  height: 0;
  width: 100%;
  overflow: hidden;
  /*
  Show the loading skeleton only if the loading takes longer than 300ms
  */
  animation: 0.01s linear 0.3s forwards changeVisibility-e45b274e;
}
.resource-list-loading[data-v-e45b274e] .el-skeleton {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.resource-list-loading[data-v-e45b274e] .el-skeleton > div > div:first-child .el-skeleton__item {
  height: 42px;
  margin: 0;
}
.resource-list-loading[data-v-e45b274e] .el-skeleton .el-skeleton__item {
  height: 69px;
}
.resource-list-loading-instant[data-v-e45b274e] {
  animation: 0.01s linear 0s forwards changeVisibility-e45b274e;
}
@keyframes changeVisibility-e45b274e {
from {
    height: 0;
}
to {
    height: 100%;
}
}