/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._editor-container_uiiyw_123 {
  position: relative;
}
._fillHeight_uiiyw_127 {
  height: 100%;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._settingsHint_1m3ps_123 {
  background-color: var(--callout--color--background--info);
  border-radius: var(--radius);
  border: var(--border-width) var(--border-style);
  border-color: var(--callout--border-color--info);
  color: var(--callout--color--text--info);
  margin-top: var(--spacing--2xs);
  margin-bottom: var(--spacing--xs);
  margin-left: var(--spacing--sm);
  margin-right: var(--spacing--sm);
  padding: var(--spacing--xs);
}
._settingItem_1m3ps_136 {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing--xs);
}
._settingItem_1m3ps_136:not(:last-child) {
  margin-bottom: var(--spacing--xs);
}
._iconWrapper_1m3ps_145 {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-top: 1px;
}
._icon_1m3ps_145 {
  color: var(--callout--icon-color--info);
  font-size: var(--font-size--sm);
  line-height: 1;
}
._message_1m3ps_158 {
  line-height: var(--line-height--md);
  flex: 1;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
img,
video {
  max-height: 100%;
  max-width: 100%;
}
.binary-data.other, .binary-data.pdf {
  height: 100%;
  width: 100%;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
.binary-data-window {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: var(--run-data--color--background);
  overflow: hidden;
  text-align: center;
}
.binary-data-window.json {
  overflow: auto;
}
.binary-data-window .binary-data-window-wrapper {
  margin-top: 0.5em;
  padding: 0 1em;
  height: 100%;
}
.binary-data-window .binary-data-window-wrapper .el-row,
.binary-data-window .binary-data-window-wrapper .el-col {
  height: 100%;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
.node-error-view__header {
  margin: 0 auto var(--spacing--sm) auto;
  padding-bottom: var(--spacing--3xs);
  background-color: var(--color--background--light-3);
  border: 1px solid var(--color--foreground);
  border-radius: var(--radius--lg);
}
.node-error-view_compact .node-error-view__header {
  margin: 0 auto var(--spacing--2xs) auto;
  border-radius: var(--radius);
}
.node-error-view__header-title {
  padding: var(--spacing--2xs) var(--spacing--sm);
  border-bottom: 1px solid var(--color--danger--tint-3);
  font-size: var(--font-size--3xs);
  font-weight: var(--font-weight--medium);
  background-color: var(--color--danger--tint-4);
  border-radius: var(--radius--lg) var(--radius--lg) 0 0;
  color: var(--color--danger);
}
.node-error-view_compact .node-error-view__header-title {
  border-radius: var(--radius);
}
.node-error-view__header-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing--xs);
  padding: var(--spacing--xs) var(--spacing--sm) var(--spacing--3xs) var(--spacing--sm);
  color: var(--color--danger);
  font-weight: var(--font-weight--medium);
  font-size: var(--font-size--sm);
}
.node-error-view__header-description {
  overflow: hidden;
  padding: 0 var(--spacing--sm) var(--spacing--3xs) var(--spacing--sm);
  font-size: var(--font-size--xs);
}
.node-error-view__header-description ul {
  padding: var(--spacing--sm) 0;
  padding-left: var(--spacing--lg);
}
.node-error-view__header-description code {
  font-size: var(--font-size--xs);
  color: var(--color--text);
  background: var(--color--background);
  padding: var(--spacing--5xs);
  border-radius: var(--radius);
}
.node-error-view__button {
  margin-left: var(--spacing--sm);
  margin-bottom: var(--spacing--xs);
  margin-top: var(--spacing--xs);
  flex-direction: row-reverse;
}
.node-error-view__button span {
  margin-right: var(--spacing--5xs);
  margin-left: var(--spacing--5xs);
}
.node-error-view__debugging {
  font-size: var(--font-size--sm);
}
.node-error-view__debugging ul,
.node-error-view__debugging ol,
.node-error-view__debugging dl {
  padding-left: var(--spacing--sm);
  margin-top: var(--spacing--2xs);
  margin-bottom: var(--spacing--2xs);
}
.node-error-view__debugging pre {
  padding: var(--spacing--sm);
  width: 100%;
  overflow: auto;
  background: var(--color--background--light-2);
}
.node-error-view__debugging pre code {
  font-size: var(--font-size--sm);
}
.node-error-view__feedback-toolbar {
  display: flex;
  align-items: center;
  margin-top: var(--spacing--sm);
  padding-top: var(--spacing--3xs);
  border-top: 1px solid var(--color--foreground);
}
.node-error-view__feedback-button {
  width: var(--spacing--2xl);
  height: var(--spacing--2xl);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.node-error-view__feedback-button:hover {
  color: var(--color--primary);
}
.node-error-view__info {
  margin: 0 auto;
  border: 1px solid var(--color--foreground);
  border-radius: var(--radius--lg);
}
.node-error-view_compact .node-error-view__info {
  border-radius: var(--radius);
}
.node-error-view__info-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing--3xs) var(--spacing--3xs) var(--spacing--3xs) var(--spacing--sm);
  border-bottom: 1px solid var(--color--foreground);
}
.node-error-view__info-title {
  font-size: var(--font-size--2xs);
  font-weight: var(--font-weight--bold);
  color: var(--color--text--shade-1);
}
.node-error-view__info-content {
  padding: var(--spacing--2xs) var(--spacing--sm);
}
.node-error-view__details:not(:last-child) {
  margin-bottom: var(--spacing--2xs);
}
.node-error-view__details[open] .node-error-view__details-icon {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}
.node-error-view__details-summary {
  padding: var(--spacing--5xs) 0;
  font-size: var(--font-size--2xs);
  color: var(--color--text--shade-1);
  cursor: pointer;
  list-style-type: none;
  outline: none;
}
.node-error-view__details-content {
  padding: var(--spacing--2xs) var(--spacing--sm);
}
.node-error-view__details-row {
  display: flex;
  padding: var(--spacing--4xs) 0;
}
.node-error-view__details-row:not(:first-child) {
  border-top: 1px solid var(--color--foreground);
}
.node-error-view__details-icon {
  margin-right: var(--spacing--xs);
}
.node-error-view__details-label {
  flex-grow: 0;
  flex-shrink: 0;
  width: 120px;
  color: var(--color--text);
  font-size: var(--font-size--2xs);
}
.node-error-view__details-value {
  flex: 1;
  overflow: hidden;
  margin-right: auto;
  color: var(--color--text);
  font-size: var(--font-size--2xs);
  word-wrap: break-word;
}
.node-error-view__details-value code {
  color: var(--json--string--color);
  white-space: normal;
  word-wrap: break-word;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._pinDataButton_12tk2_123 svg {
  transition: transform 0.3s ease;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._relatedExecutionInfo_1d0kf_123 {
  font-size: var(--font-size--sm);
  margin-left: var(--spacing--3xs);
}
._relatedExecutionInfo_1d0kf_123 svg {
  padding-bottom: var(--spacing--5xs);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._itemsText_1uijj_123 {
  flex-shrink: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--color--text--tint-1);
  font-size: var(--font-size--2xs);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._pagination_1hlvz_123 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  overflow-y: hidden;
  flex-shrink: 0;
  flex-grow: 0;
}
._pageSizeSelector_1hlvz_134 {
  text-transform: capitalize;
  max-width: 150px;
  flex: 0 1 auto;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._component_1e3w0_123 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 var(--ndv--spacing) var(--spacing--3xl) var(--ndv--spacing);
  right: 0;
  overflow-y: auto;
  line-height: var(--line-height--xl);
  word-break: normal;
  height: 100%;
}
._binaryIndex_1e3w0_135 {
  display: block;
  padding: var(--spacing--2xs);
  font-size: var(--font-size--2xs);
}
._binaryIndex_1e3w0_135 > * {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: var(--radius);
  text-align: center;
  background-color: var(--color--foreground--shade-2);
  font-weight: var(--font-weight--bold);
  color: var(--color--text--tint-3);
}
._binaryRow_1e3w0_152 {
  display: inline-flex;
  font-size: var(--font-size--2xs);
}
._binaryCell_1e3w0_157 {
  display: inline-block;
  width: 300px;
  overflow: hidden;
  background-color: var(--color--foreground--tint-2);
  margin-right: var(--ndv--spacing);
  margin-bottom: var(--ndv--spacing);
  border-radius: var(--radius);
  border: var(--border);
  padding: var(--ndv--spacing);
}
._binaryHeader_1e3w0_169 {
  color: var(--color--primary);
  font-weight: var(--font-weight--bold);
  font-size: 1.2em;
  padding-bottom: var(--spacing--2xs);
  margin-bottom: var(--spacing--2xs);
  border-bottom: 1px solid var(--color--text--tint-1);
}
._binaryButtonContainer_1e3w0_178 {
  margin-top: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
._binaryButtonContainer_1e3w0_178 > * {
  flex-grow: 0;
  margin-right: var(--spacing--3xs);
}
._binaryValue_1e3w0_189 {
  white-space: initial;
  word-wrap: break-word;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._infoIcon_1ykz7_123 {
  color: var(--color--foreground--shade-1);
}
._center_1ykz7_127 {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--ndv--spacing) var(--ndv--spacing) var(--spacing--xl) var(--ndv--spacing);
  text-align: center;
}
._center_1ykz7_127 > * {
  max-width: 316px;
  margin-bottom: var(--spacing--2xs);
}
._container_1ykz7_141 {
  --ndv--spacing: var(--spacing--sm);
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
._pinnedDataCallout_1ykz7_150 {
  border-radius: inherit;
  border-bottom-right-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  height: 40px;
}
._header_1ykz7_159 {
  display: flex;
  align-items: center;
  margin-bottom: var(--ndv--spacing);
  padding: var(--ndv--spacing) var(--spacing--3xs) 0 var(--ndv--spacing);
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  min-height: calc(30px + var(--ndv--spacing));
  scrollbar-width: thin;
  container-type: inline-size;
}
._compact_1ykz7_171 ._header_1ykz7_159 {
  margin-bottom: var(--spacing--4xs);
  padding: var(--spacing--2xs);
  margin-bottom: 0;
  flex-shrink: 0;
  flex-grow: 0;
  min-height: auto;
  gap: var(--spacing--2xs);
}
._header_1ykz7_159 > *:first-child {
  flex-grow: 1;
}
._dataContainer_1ykz7_184 {
  position: relative;
  overflow-y: auto;
  height: 100%;
}
._dataDisplay_1ykz7_190 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 var(--ndv--spacing) var(--spacing--3xl) var(--ndv--spacing);
  right: 0;
  overflow-y: auto;
  line-height: var(--line-height--xl);
  word-break: normal;
  height: 100%;
}
._compact_1ykz7_171 ._dataDisplay_1ykz7_190 {
  padding: 0 var(--spacing--2xs);
}
._inlineError_1ykz7_205 {
  line-height: var(--line-height--xl);
  padding-left: var(--ndv--spacing);
  padding-right: var(--ndv--spacing);
  padding-bottom: var(--ndv--spacing);
}
._outputs_1ykz7_212 {
  display: flex;
  flex-direction: column;
  gap: var(--ndv--spacing);
  padding-left: var(--ndv--spacing);
  padding-right: var(--ndv--spacing);
  padding-bottom: var(--ndv--spacing);
}
._compact_1ykz7_171 ._outputs_1ykz7_212 {
  padding-left: var(--spacing--2xs);
  padding-right: var(--spacing--2xs);
  padding-bottom: var(--spacing--2xs);
  font-size: var(--font-size--2xs);
}
._tabs_1ykz7_227 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 30px;
  --tabs--arrow-buttons--color: var(--run-data--color--background);
}
._itemsCount_1ykz7_235 {
  display: flex;
  align-items: center;
  gap: var(--spacing--2xs);
  padding-left: var(--ndv--spacing);
  padding-right: var(--ndv--spacing);
  padding-bottom: var(--ndv--spacing);
  flex-flow: wrap;
}
._ndv-v2_1ykz7_245 ._itemsCount_1ykz7_235 {
  padding-left: var(--spacing--xs);
}
._inputSelect_1ykz7_249 {
  padding-left: var(--ndv--spacing);
  padding-right: var(--ndv--spacing);
  padding-bottom: var(--ndv--spacing);
}
._runSelector_1ykz7_255 {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  padding-left: var(--ndv--spacing);
  padding-right: var(--ndv--spacing);
  margin-bottom: var(--ndv--spacing);
  gap: var(--spacing--3xs);
}
._runSelector_1ykz7_255 .el-input--suffix .el-input__inner {
  padding-right: var(--spacing--lg);
}
._runSelectorInner_1ykz7_268 {
  display: flex;
  gap: var(--spacing--4xs);
  align-items: center;
}
._runSelectorSelect_1ykz7_274 {
  max-width: 205px;
}
._search_1ykz7_278 {
  margin-left: auto;
}
._displayModes_1ykz7_282 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  gap: var(--spacing--2xs);
}
._compact_1ykz7_171 ._displayModes_1ykz7_282 {
  /* let title text alone decide the height */
  height: 0;
}
._showActionsOnHover_1ykz7_293 ._displayModes_1ykz7_282 {
  /* Using opacity instead of visibility so that search input can get focused through keyboard shortcut */
  opacity: 0;
}
._showActionsOnHover_1ykz7_293 ._displayModes_1ykz7_282 .el-input__prefix {
  transition-duration: 0ms;
}
._showActionsOnHover_1ykz7_293:focus-within ._displayModes_1ykz7_282, ._showActionsOnHover_1ykz7_293:hover ._displayModes_1ykz7_282 {
  opacity: 1;
}
._tooltipContain_1ykz7_304 {
  max-width: 240px;
}
._spinner_1ykz7_308 {
  display: flex;
  justify-content: center;
  margin-bottom: var(--ndv--spacing);
}
._spinner_1ykz7_308 * {
  color: var(--color--primary);
  min-height: 40px;
  min-width: 40px;
}
._editMode_1ykz7_319 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding-left: var(--ndv--spacing);
  padding-right: var(--ndv--spacing);
}
._editModeBody_1ykz7_328 {
  flex: 1 1 auto;
  max-height: 100%;
  width: 100%;
  overflow: auto;
}
._editModeFooter_1ykz7_335 {
  flex: 0 1 auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--ndv--spacing);
  padding-bottom: var(--ndv--spacing);
}
._editModeFooterInfotip_1ykz7_345 {
  display: flex;
  flex: 1;
  width: 100%;
}
._editModeActions_1ykz7_351 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: var(--ndv--spacing);
}
._stretchVertically_1ykz7_358 {
  height: 100%;
}
._uiBlocker_1ykz7_362 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._uiBlockerNdvV2_1ykz7_367 {
  border-radius: 0;
}
._hintCallout_1ykz7_371 {
  margin-bottom: var(--spacing--xs);
  margin-left: var(--ndv--spacing);
  margin-right: var(--ndv--spacing);
}
._compact_1ykz7_171 ._hintCallout_1ykz7_371 {
  margin: 0 var(--spacing--2xs) var(--spacing--2xs) var(--spacing--2xs);
}
._schema_1ykz7_380 {
  padding: 0 var(--ndv--spacing);
}
._messageSection_1ykz7_384 {
  display: flex;
  align-items: center;
  width: 100%;
}
._singleIcon_1ykz7_390 {
  flex-direction: row;
  align-items: center;
}
._multipleIcons_1ykz7_395 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing--2xs, 8px);
}
._multipleIcons_1ykz7_395 ._iconStack_1ykz7_401 {
  margin-right: 0;
  margin-bottom: 0;
}
._iconStack_1ykz7_401 {
  display: flex;
  align-items: center;
  gap: var(--spacing--4xs, 4px);
  flex-shrink: 0;
  margin-right: var(--spacing--xs);
}
._icon_1ykz7_401 {
  color: var(--callout--icon-color--info);
  line-height: 1;
  font-size: var(--font-size--xs);
}
._compact_1ykz7_171 ._executingMessage_1ykz7_420 {
  color: var(--color--text--tint-1);
}
._resetCollapseButton_1ykz7_424 {
  color: var(--color--foreground--shade-2);
}
@container (max-width: 240px) {
  /* Hide title when the panel is too narrow */
._compact_1ykz7_171:hover ._title_1ykz7_430 {
    visibility: hidden;
    width: 0;
}
}
._ndv-v2_1ykz7_245,
._compact_1ykz7_171 {
  --ndv--spacing: var(--spacing--2xs);
}
._dataSizeWarning_1ykz7_440 {
  padding: var(--spacing--sm) var(--spacing--md);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing--sm);
}
._warningActions_1ykz7_449 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing--2xs);
  width: 100%;
  align-items: center;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
.run-data .code-node-editor[data-v-d92b5b96] {
  height: 100%;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
[data-v-d92b5b96] .highlight {
  background-color: #f7dc55;
  color: black;
  border-radius: var(--radius);
  padding: 0 1px;
  font-weight: var(--font-weight--regular);
  font-style: normal;
}