/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._runText_1dyxh_123 {
  line-height: var(--line-height--xl);
  white-space: pre-line;
}
._markdown_1dyxh_128 {
  white-space: pre-wrap;
}
._markdown_1dyxh_128 h1 {
  font-size: var(--font-size--lg);
  line-height: var(--line-height--xl);
}
._markdown_1dyxh_128 h2 {
  font-size: var(--font-size--md);
  line-height: var(--line-height--lg);
}
._markdown_1dyxh_128 h3 {
  font-size: var(--font-size--sm);
  line-height: var(--line-height--md);
}
._markdown_1dyxh_128 pre {
  background: var(--chat--message--pre--background);
  border-radius: var(--radius);
  line-height: var(--line-height--xl);
  padding: var(--spacing--sm);
  font-size: var(--font-size--sm);
  white-space: pre-wrap;
}
._compact_1dyxh_151 ._markdown_1dyxh_128 pre {
  padding: var(--spacing--3xs);
  font-size: var(--font-size--xs);
}
._compact_1dyxh_151 ._markdown_1dyxh_128 p {
  line-height: var(--line-height--xl);
}
._copyToClipboard_1dyxh_159 {
  position: absolute;
  right: var(--spacing--sm);
  top: var(--spacing--sm);
}
._compact_1dyxh_151 ._copyToClipboard_1dyxh_159 {
  right: var(--spacing--2xs);
  top: var(--spacing--2xs);
}
._rawContent_1dyxh_169 {
  position: relative;
}
._contentText_1dyxh_173 {
  padding-top: var(--spacing--sm);
  padding-left: var(--spacing--md);
  padding-right: var(--spacing--md);
  font-size: var(--font-size--sm);
}
._compact_1dyxh_151 ._contentText_1dyxh_173 {
  padding-top: 0;
  padding-inline: var(--spacing--2xs);
  font-size: var(--font-size--2xs);
}