/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._checkboxWrapper_zk1u2_123 {
  margin-top: var(--spacing--md);
}
._footerActions_zk1u2_127 {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing--2xs);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._center_g33cs_123 > div {
  justify-content: center;
}
._actionBox_g33cs_127 {
  margin: var(--spacing--2xl) 0 0;
}
._spacedFlex_g33cs_131 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
._title_g33cs_137 {
  display: flex;
  align-items: center;
  padding: var(--spacing--2xl) 0 var(--spacing--md);
}
._quota_g33cs_143 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  padding: 0 var(--spacing--sm);
  margin: 0 0 var(--spacing--xs);
  background: var(--color--background--light-3);
  border-radius: var(--radius--lg);
  border: 1px solid var(--color--foreground);
  white-space: nowrap;
}
._quota_g33cs_143 ._count_g33cs_155 {
  text-transform: lowercase;
  font-size: var(--font-size--sm);
}
._buttons_g33cs_160 {
  display: flex;
  justify-content: flex-end;
  padding: var(--spacing--xl) 0 0;
}
._buttons_g33cs_160 button {
  margin-left: var(--spacing--xs);
}
._buttons_g33cs_160 button a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  padding: var(--spacing--xs) var(--spacing--md);
  margin: calc(var(--spacing--xs) * -1) calc(var(--spacing--md) * -1);
}
._chart_g33cs_176 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}
._chartLine_g33cs_183 {
  display: block;
  height: 10px;
  width: 100%;
  max-width: 260px;
  margin: 0 var(--spacing--md);
  border-radius: 10px;
  background: var(--color--background);
}
._chartBar_g33cs_193 {
  float: left;
  height: 100%;
  max-width: 100%;
  background: var(--color--secondary);
  border-radius: 10px;
  transition: width 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}
div[class*=info] > span > span:last-child {
  line-height: 1.4;
  padding: 0 0 0 var(--spacing--4xs);
}
._titleTooltip_g33cs_207 {
  display: flex;
  align-items: center;
  margin: 0 0 0 var(--spacing--2xs);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
.settings-usage-and-plan[data-v-6f2d2b75] .el-dialog__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.settings-usage-and-plan[data-v-6f2d2b75] .el-dialog__wrapper .el-dialog {
  margin: 0;
}
.settings-usage-and-plan[data-v-6f2d2b75] .el-dialog__wrapper .el-dialog .el-dialog__footer button {
  margin-left: var(--spacing--xs);
}