/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._container_1qm18_123 {
  padding-bottom: 100px;
}
._container_1qm18_123 > * {
  margin-bottom: var(--spacing--2xl);
}
._header_1qm18_130 {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
._header_1qm18_130 *:first-child {
  flex-grow: 1;
}
._user_1qm18_139 {
  display: flex;
  align-items: center;
}
@media (max-width: 600px) {
._user_1qm18_139 {
    display: none;
}
}
._username_1qm18_149 {
  display: grid;
  grid-template-columns: 1fr;
  margin-right: var(--spacing--sm);
}
@media (max-width: 992px) {
._username_1qm18_149 {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
}
._tooltip_1qm18_162 {
  justify-self: start;
}
._disableMfaButton_1qm18_166 > span {
  font-weight: var(--font-weight--bold);
}
._button_1qm18_170 {
  font-size: var(--spacing--xs);
}
._button_1qm18_170 > span {
  font-weight: var(--font-weight--bold);
}
._infoText_1qm18_177 {
  font-size: var(--font-size--2xs);
  color: var(--color--text--tint-1);
}
._themeSelect_1qm18_182 {
  max-width: 50%;
}