/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._dragPill_wasb1_123 {
  display: inline-flex;
  height: 24px;
  padding: 0 var(--spacing--3xs);
  border: 1px solid var(--color--foreground--tint-1);
  border-radius: 4px;
  background: var(--color--background--light-3);
  font-size: var(--font-size--2xs);
  color: var(--color--text);
  white-space: nowrap;
  align-items: center;
}
._dragPill_wasb1_123 span {
  display: flex;
  height: 100%;
  align-items: center;
}
._droppablePill_wasb1_141,
._droppablePill_wasb1_141 span span {
  color: var(--color--success);
  border-color: var(--color--success--tint-1);
  background-color: white;
}
._defaultPill_wasb1_148 {
  transform: translate(-50%, -100%);
  box-shadow: 0 2px 6px rgba(68, 28, 23, 0.2);
}
._defaultPill_wasb1_148,
._defaultPill_wasb1_148 span span {
  color: var(--color--primary);
  border-color: var(--color--primary--tint-1);
  background-color: var(--color--primary--tint-3);
}